<h1>Welcome to my News Feed</h1>

<hr>

<% @posts.each do |post| %>

<p>
	<%= post.body %>
</p>
<% if post.user %>
	<strong>Written by:</strong>
	<%= post.user.username %>

<% end %>
<br><br>

<% end %>